<!-- <div class="frame">
    <div class="center">
       <div class="dot-1"></div>
       <div class="dot-2"></div>
       <div class="dot-3"></div>
    </div>
 </div> -->
<div class="container">
    <button type="button" (click)="swap()" *ngIf="register" class="custom-form">➡ LOGIN</button>
    <button type="button" (click)="swap()" *ngIf="login" class="custom-form" [ngClass]="{'disabled' : !userToShow}"> ➡ REGISTRO</button>
    <app-sign-up *ngIf="login"></app-sign-up>
    <app-register *ngIf="register"></app-register>
</div>