<header class="header">
    <div class="hero">
        <h1 class="hero__h1">Una de Mero</h1>
        <p class="hero__p">O de carne, pescado, pasta, arroces...<br>La variedad de platos es lo que guía nuestra carta</p>
        <a href="#presentation" class="hero__a">Mira, mira</a>
    </div>
</header>
<section class="presentation" id="presentation">
    <h1 class="presentation__h1">Aquí todo lo que puedes comer</h1>
    <div class="presentationDishes">
        <div class="presentationDish">
            <img src="../../../assets/iconos/altramuces.png" alt="" class="presentationDish__img">
            <div class="presentationContent">
                <h4 class="presentationContent__h4">Ensaladas</h4>
                <p class="presentationContent__p">Variedad de ensaladas frescas y saludables, con ingredientes de temporada y aderezos caseros.</p>
            </div>
        </div>
        <div class="presentationDish">
            <img src="../../../assets/iconos/apio.png" alt="" class="presentationDish__img">
            <div class="presentationContent">
                <h4 class="presentationContent__h4">Pastas</h4>
                <p class="presentationContent__p">Deliciosas pastas con salsas hechas en casa y una variedad de ingredientes frescos.</p>
            </div>
        </div>
        <div class="presentationDish">
            <img src="../../../assets/iconos/cacahuetes.png" alt="" class="presentationDish__img">
            <div class="presentationContent">
                <h4 class="presentationContent__h4">Arroces</h4>
                <p class="presentationContent__p">Con influencias internacionales, preparados con ingredientes locales.</p>
            </div>
        </div>
        <div class="presentationDish">
            <img src="../../../assets/iconos/crustaceos.png" alt="" class="presentationDish__img">
            <div class="presentationContent">
                <h4 class="presentationContent__h4">Carnes</h4>
                <p class="presentationContent__p">Carnes jugosas y tiernas, cocinadas a la perfección con una selección de salsas.</p>
            </div>
        </div>
        <div class="presentationDish">
            <img src="../../../assets/iconos/frutossecos.png" alt="" class="presentationDish__img">
            <div class="presentationContent">
                <h4 class="presentationContent__h4">Pescados</h4>
                <p class="presentationContent__p">Una selección de pescados de temporada, preparados en platos clásicos y creativos.</p>
            </div>
        </div>
        <div class="presentationDish">
            <img src="../../../assets/iconos/gluten.png" alt="" class="presentationDish__img">
            <div class="presentationContent">
                <h4 class="presentationContent__h4">Pizzas</h4>
                <p class="presentationContent__p">Pizzas recién horneadas con una variedad de ingredientes frescos y sabrosos.</p>
            </div>
        </div>
    </div>
    <a routerLink="/products" class="presentation__a">Descubre nuestra carta</a>
</section>
<section class="restaurantMenu">
    <div class="restaurantMenu__content">
        <p class="restaurantMenu__p--title">O si lo prefieres...</p>
        <h1 class="restaurantMenu__h1">Echa un vistazo al menú del día</h1>
        <p class="restaurantMenu__p">Al igual que en nuestra carta, aquí tienes una selección de platos de toma pan y moja. Nuestros menús se caracterizan por ser equilibrados. Da igual qué primero o segundo elijas, siempre saldrás con la sensación de que está todo a pedir de boca. O bueno... eso es lo que vamos a intentar. Si tienes dudas, mira los platos de la carta. Lo que sí te garantizamos es que disfrutarás de los ingredientes más frescos y del sabor más auténtico de nuestra tierra. La recomendación la tienes haciendo click en el siguiente botón. Y la puerta, por supuesto, siempre abierta. </p>
        <a routerLink="/menu" class="restaurantMenu__a">Mira qué comes hoy</a>
    </div>
    <img class="restaurantMenu__img" src="./../../../assets/menuRestaurant.png" alt="">
</section>

<footer class="footer">
    <img class="footer__logo" src="../../../assets/logo.png" alt="logo">
    <div class="footerMenu">
        <ul class="footerMenu__ul">
            <h5 class="footerMenu__h5">Menu</h5>
            <li class="footerMenu__li"><a routerLink="/products" class="footerMenu__a">Platos</a></li>
            <li class="footerMenu__li"><a routerLink="/drinks" class="footerMenu__a">Bebidas</a></li>
            <li class="footerMenu__li"><a routerLink="/menu" class="footerMenu__a">Menú</a></li>
            <li class="footerMenu__li"><a routerLink="/login" class="footerMenu__a">Login</a></li>
        </ul>
        <ul class="footerMenu__ul">
            <h5 class="footerMenu__h5">Social Media</h5>
            <li class="footerMenu__li"><a href="" class="footerMenu__a">Instagram</a></li>
            <li class="footerMenu__li"><a href="" class="footerMenu__a">Facebook</a></li>
            <li class="footerMenu__li"><a href="" class="footerMenu__a">Twitter</a></li>
        </ul>
    </div>

    <div class="footerContact">
        <h5 class="footerContact__h5">¿Dónde estamos?</h5>
        <iframe class="footerContact__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.7686284513825!2d-3.6971313843651!3d40.45825766103636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4229775edcab1b%3A0xbd4c6a7181e44101!2sUpgrade%20hub!5e0!3m2!1ses!2ses!4v1677325478354!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</footer>