$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

.addProduct{
    background-color: #141821; // Si no gusta, se puede comentar y listo 
    height: 100%;
    min-height: 100vh;
}

.formulary {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: whitesmoke;
    margin-top: 80px;
    flex-wrap: wrap;
    flex-direction: column;
}


.subContainer{
    // width: 40%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.globalContainer{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.title{
    padding-top: 40px;
    text-align: center;
    color: whitesmoke;
}



.input {
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    // background-color: rgb(226, 226, 226);
    // border: none;
    outline: none;
    box-shadow:  inset 2px 2px 5px $color-shadow;
    transition: all 0.3s ease-in-out;
    &:focus{
        box-shadow: inset 1px 1px 2px $color-shadow;
        transition: all 0.3s ease-in-out;
        // background-color: rgba(211, 211, 211, 0.336);
         border-color: #fd9800;
    }
}

select {
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    // background-color: rgb(226, 226, 226);
    border: none;
    font-family: inherit;
    font-size: 16px;
    box-shadow:  inset 2px 2px 5px $color-shadow;
    transition: all 0.3s ease-in-out;
    &:focus{
        // box-shadow: inset 1px 1px 2px $color-shadow;
        box-shadow: inset 1px 1px 2px #fd9800;
        transition: all 0.3s ease-in-out;
    }
}


option {
    background-color: none;
    border-radius: 30px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    &:focus{
        box-shadow: inset 1px 1px 2px $color-shadow;
        transition: all 0.2s ease-in-out;
        background-color: rgb(117, 117, 117);
        color: whitesmoke;
    }
}

// button {
//     color:#61677C;
//     font-weight: bold;
//     box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
//     transition: all 0.2s ease-in-out;
//     cursor: pointer;
//     font-weight: 600;
//     border: 0;
//     outline: 0;
//     font-size: $ruler;
//     border-radius: $ruler*20;
//     padding: $ruler;
//     background-color:$color-bg;
//     text-shadow: 1px 1px 0 $color-white;
//     width: 150px;
//     margin-top: 20px;
//     margin-bottom: 40px;

//     &:hover {
//       box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;

//     }
    
//     &:active {
//       box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
//     }
// }

button {
    background: linear-gradient(-45deg, #fd9800, #bb4500, #fab040, #ff8800);
    background-size: 800% 400%;
    padding: 1em 1em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1.2px;
    width: 20%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 5em;

        &:hover{
            animation: gradient 3s infinite;
            transform: scale(1.05);
        }
}

.alergen {

    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    &-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        &__image {
            width: 50px;
            object-fit: cover;
        }
    }
    
}